.uploadProductMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadBtnContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.uploadBtn {
  padding: 9px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
}

.uploadBtn:hover {
  background-color: #e2e8ee;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  height: 600px;
  overflow-y: auto; /* Allow vertical scrolling */
}

/* Hide scrollbar for WebKit browsers */
.productsContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.uploadProductOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Responsive styles */
.productCard {
  width: calc(25% - 40px); /* Default width for larger screens */
  margin: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.productCard:hover {
  transform: scale(1.02); /* Slightly scale the product card on hover */
}

.productImage {
  width: 100%; /* Make image responsive */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.productInfo {
  padding: 15px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .productCard {
    width: calc(33.33% - 40px); /* Adjust width for medium screens */
  }
}

@media (max-width: 768px) {
  .productCard {
    width: calc(50% - 40px); /* Adjust width for small screens */
  }

 
}

@media (max-width: 480px) {
  .productCard {
    width: calc(100% - 40px); /* Full width for very small screens */
  }

  .productsContainer {
     /* Further reduce height */
    padding: 10px; /* Reduce padding for very small screens */
  }

  .uploadBtnContainer {
    flex-direction: column; /* Stack upload buttons vertically */
  }
}
