.bagItemContainer {
  margin-bottom: 8px;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.itemLeftPart {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.itemRightPart {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bagItemImg {
  width: 100%;
  height: 100%;
}

.returnPeriod {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.returnPeriodDays {
  font-weight: 700;
  margin-right: 4px;
}

.deliveryDetails {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -0.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.deliveryDetailsDays {
  color: #03a685;
}

.quantityController {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.quantityBtn {
  width: 30px;
  height: 30px;
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantityBtn:hover{
  background-color: #e64a19;
}

.quantity {
  margin: 0 15px;
  font-size: 16px;
}

.removeFromCart {
  position: absolute;
  font-size: 22px;
  top: 0px;
  right: 5px;
  
  height: 14px;
  cursor: pointer;
}

.company
{
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 20px;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}



.itemName{
  
  text-transform: capitalize;
  margin-top: 3px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.currentPrice
{
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}

.originalPrice
{
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}
.discountPercentage
{
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}