.bannerContainer { 
  position: relative;
  width: 100%;
  height: 400px; /* Adjust as needed */
  overflow: hidden;
}

.bannerImage {
  width: 100%;
  height: 100%;
}

.bannerImage img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  font-size: 24px;
  user-select: none;
}

.leftArrow {
  left: 0px; 
}

.rightArrow {
  right: 0px;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
