.itemContainer {
  width: 80%;
  margin: 40px 10%;
  }


.itemImage {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.ratingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.wishlistIcon {
  cursor: pointer;
}

.like {
  font-size: 24px;
}

.companyName {
  font-weight: bold;
  margin-top: 5px;
}

.itemName {
  color: #555;
  font-size: 14px;
  margin-top: 3px;
}

.price {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-top: 5px;
}

.currentPrice {
  font-size: 18px;
  font-weight: bold;
}

.originalPrice {
  font-size: 14px;
  text-decoration: line-through;
  color: #888;
}

.discount {
  font-size: 14px;
  color: #ff0000;
}

.btnAddBag {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.towButtonsContainer {
  margin-top: 16px;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bagLink {
  text-decoration: none;
}

.buyNowButton {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.removeButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.rating{
  font-size: 13px;
  font-weight: 700;
}