.itemContainer {
  width: 298px;
  margin: 10px;
  border: 2px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 18px;
  background-color: rgb(255, 255, 255);
}

.itemImage {
  width: 100%;
  height: 333.33px;
}

.rating {
  font-size: 12px;
  font-weight: 700;
}

.companyName {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.itemName {
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}

.price {
  margin-top: 10px;
  font-size: 14px;
  line-height: 15px;
  color: #282c3f;
  white-space: nowrap;
}

.currentPrice {
  font-size: 14px;
  font-weight: 700;
  color: #282c3f;
}

.originalPrice {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.discount {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}

.wishlistIcon {
  cursor: pointer;
}

.btnAddBag {
  margin-top: 16px;
  font-size: 18px;
  width: 100%;
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.towButtonsContainer {
  margin-top: 16px;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buyNowButton {
  width: 100%;
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ff3f6c;
}

.removeButton {
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  width: 20%;
}
.bagLink{
  width: 75%;
}