.horizontalItemsContainerMain {
   display: grid;
    text-align: center;
    margin: 20px 3%;
    
    width: 94%;
    position: relative;
    overflow-x: hidden;
}

.horizontalItemsContainer {
  display: flex;
  padding: 10px;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  gap: 22px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  scrollbar-width: none;
}
.horizontalItemsContainer::-webkit-scrollbar 
{
  display: none; 
}
.titleContainer
{
  display: flex;
  justify-content: space-between;
}
.horizontalTitle {
  font-size: 25px;
  margin-left: 10px;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
  display: block;

}
.horizontalViewAll
{
   display: flex;
   align-items: flex-end;
   font-size: 14px;
   text-decoration: none;
   color: black;
}

.horizontalItemContainer {
  display: flex;
  flex: 0 0 auto;
  width: 300px;
  border: 2px solid #eaeaec;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.horizontalSeeMoreOverlay {
  position: absolute;
  right: 0;
  top: 58%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  text-decoration: none;
  z-index: 1;

}

.horizontalSeeMoreText {
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-align: center;
      background-color: #9f2e04;
    border-radius: 6px;
    padding: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    right: 15px;
}
.seemore{
  font-size: 16px;
    font-weight: 700;
    color: #0d0c0c;
    text-align: center;

}