
.searchResult {
  text-align: center;
  margin: 39px;
  font-size: 21px;
}

.noResults {
  text-align: center;
  font-size: 50px;
}

.itemsContainer {
  width: 80%;
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .itemsContainer {
    justify-content: center;
  }

  .itemsContainer > * {
    flex: 1 1 calc(50% - 10px); /* Allows two items per row with a small gap */
    margin: 5px;
  }
}