.wishlistItemsContainer {
  display: grid;
  width: 70%;
  padding-right: 20px;
  padding-top: 32px;
  color: #282c3f;
  font-size: 13px;
  margin: 20px 15%;
  line-height: 1.42857143;
}

/* responsive */
@media (max-width: 768px) {
  .wishlistItemsContainer {
    width: 95%;
    margin: 20px 5%;
  }
}

@media (max-width: 480px) {
  .wishlistItemsContainer {
    margin: 20px 5%;
    width: 95%;
  }
}