.emptyCart {
  align-items: center;
  width: 80%;
  margin: 40px 10%;
  border: 4px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 18px;
  justify-content: center;
  display: flex;
  height: 600px;
}

.emptyWishlistImage {
  margin-left: 100px;
  height: 260px;
  width: 250px;
}

.emptyButtonContainer {
  display: flex;
  justify-content: center;
}

.cardContent {
  display: grid;
}
